.home {
    @include make-container();

    .lead,
    .push,
    .items {
        background-color: rgba(0, 0, 0, 0.33);
        color: white;
    }

    .lead {

    }

    .push {

    }

    .items {

        .row {
            @include make-row(10);

            .item {
                @include make-col(10);
                height: 150px;
                background-repeat: no-repeat;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;

                @media (max-width: map-get($grid-breakpoints, "md")) {
                    @include make-col-span(12);
                }

                @media (min-width: map-get($grid-breakpoints, "md") + 1) {
                    @include make-col-span(4);
                }

                > div {
                    text-align: center;
                    text-transform: uppercase;
                    width: 100%;
                    display: inline-block;
                    color: white;
                    background-color: rgba(0, 0, 0, 0.33);
                }
            }
        }
    }
}
