html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.site-wrapper {
    @include make-container();

    padding-top: $header-heigth;
}
