{% extends "pages/page.html" %}
{% load staticfiles harmonic renderer %}

{% block head_title %}HARMONIC CLASSICS{% endblock %}

{% block content %}
<div class="home">
    <div class="lead">{{ page.content|markdown }}</div>
    {% for push in pushes %}
        <div class="push">{{ push.content|markdown }}</div>
    {% endfor %}
    <div class="items">
        <div class="row">
            {% for item in items %}
                <a
                    class="item page"
                    style="background-image: url('{% if item.background %}{% rendition_url item.background 0 300 %}{% else %}{% rendition_url background 0 300 %}{% endif %}');">
                    <div>{{ item.title }}</div>
                </a>
                {% if forloop.counter|divisibleby:3 or forloop.last %}
                    </div>
                    {% if not forloop.last %}
                        <div class="row">
                    {% endif %}
                {% endif %}
            {% endfor %}
    </div>
</div>
{% endblock %}
